.clock {
  margin: 20px 0;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 10px 15px;
    background-image: radial-gradient(circle at 50% -20.71%, #c9f3de 53.33%, #c5f3e3 56.67%, #c2f3e8 60%, #bff3ec 63.33%, #bdf3f1 66.67%, #bcf3f6 70%, #bcf3fa 73.33%, #bdf2fe 76.67%, #bef1ff 80%, #c1f0ff 83.33%, #c5efff 86.67%, #c9eeff 90%, #cdedff 93.33%, #d3ebff 96.67%, #d8eaff 100%);
    color: #424242;
    border-radius: 3px
  }

  &__number {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    font-variant-numeric: tabular-nums;
  }
}
