.error {
  height: 30px;
  color: var(--error);
  font-weight: 500;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bounce {
  border: 1px solid red !important;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}

.accent {
  color: var(--color-brand-yellow);
}

.border-right {
  border-right: 2px solid #ebebeb;
}

.allocated {
  font-weight: 700;
  padding: 0 3px;
  color: var(--color-primary-light);
  border-radius: 2px;
  background-color: var(--color-brand-dark);
}

.bolt {
  font-weight: 800;
}

