:root {
  --color-primary: #eeeeee;
  --color-primary-white: #ffffff;
  --color-primary-light: #f9f9f9;
  --color-primary-dark: rgb(33, 36, 41);
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;

  --color-secondary: #a18268;

  --color-secondary-text: #839aa9;

  --error: red;
}
