.description {
  margin: 25px 0;

  &__title {
    font-weight: 900;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px;

    &::after{
      display: block;
      content: "";
      width: 62px;
      height: 5px;
      margin: 15px auto;
      background: url("../../public/images/separator.png") center center no-repeat;
    }

  }

  &__text {
    padding: 0 18px;
    font-size: 16px;
  }

  &__image {
    margin: 12px 0;
  }
}
