.price {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
  margin-bottom: 15px;
  align-items: center;

  &__item {
    padding: 20px 0;
    text-align: center;
    width: 50%;

    &--new {
      background: linear-gradient(180deg, #ffb73b 0%, #ff2525 74%);
      color: var(--color-primary-white);
    }
  }

  &__text {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 14px;
  }

  &__value-old {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-decoration: line-through;
  }

  &__value-new {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  }
}
